deepface==0.0.83
mediapipe==0.10.13
opencv-python-headless
matplotlib==3.8.3
numpy==1.26.4
tensorflow==2.16.1 ; platform_system != 'Windows'  # Windows doesn't support tf 2.12.0 via pip
tensorflow-cpu==2.12.0 ; platform_system == 'Windows'  # Use CPU version if you're on Windows
